$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #B6B6B6;
$color-tertiary-light:#43A047; // Màu xanh lá cây
$color-primary-dark:#030948; //blue black pulple đậm
$color-primary: #001D86; //blue biển đậm
$color-yellow: #FFBF1B;
$color-black-dark-1: #191A1B; //đen nhạt
$color-black-dark-2: #030410;
$color-black-grey: #484C52; //đen xám đen
$color-grey-dark: #565656;
$color-grey-pink: #B29D9D;
$color-grey: #858585;
$color-red-dark: #860000; //đỏ huyết
$color-tertiary-dark: #125B00; //xanh lá cây đậm
$color-orange-dark: #9B4B01; //cam đất
$color-pink-light: #FFCCF4; 
$color-pink-dark: #FF58EE; 
$color-orange-light: #FF8F11;


// $grid-width: 114rem;
// $gutter-vertical: 8rem;    // margin bottom giữa các row
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;   // giá trị khoảng cách giữa các column
// $default-font-size: 1.6rem;