.menu-icon {
  display: none;
  position: absolute;
  z-index: 12;
  right: 5px;
  text-align: center;
  box-sizing: border-box;
  color: $color-white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: scale(0.7) translateY(-50%);
  transform-origin: top; 
    @media (max-width: 1024px) {
      display: block; } 
  .hamburger {
    .line {
      width: 50px;
      height: 5px;
      background-color: $color-white;
      display: block;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;
    }
      &:hover {
        cursor: pointer; }

    &.is-active {
      .line {
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateY(13px) rotate(45deg); 
        }
        :nth-child(1) {
          transform: translateY(13px) rotate(45deg); 
        }
        :nth-child(3) {
          transform: translateY(-13px) rotate(-45deg); 
        }
      }
    }
  }
}

  .mt--20 {
    margin-top: 20px !important; }
  
  .mb--10 {
    margin-bottom: 10px !important; }
  
  .mt-negative--20 {
    margin-top: -20px !important; }
  
  .pt-40 {
    padding-top: 40px !important; }


input[type='number'] {
  -moz-appearance: textfield; }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }