.tree {
  position: relative;
  margin: 0 auto;
  padding-bottom: 10rem;
  @media (max-width: 576px) {
    width: 95%;
    padding-bottom: 0;
    margin: 3rem auto 0; 
  }
  &__upper {
    position: relative;
    display: flex; 
    justify-content: space-between;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 73%;
      height: 4px;
      bottom: 0;
      background: $color-white;
      @media (max-width: 1024px) {
        width: 70%;
      }
      @media (max-width: 576px) {
        width: 54%;
      }
    }
  }
  &__lower {
    position: absolute;
    width: 27%;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 1024px) {
      width: 30%;
    }
    @media (max-width: 768px) {
      bottom: 18%;
    }       
    @media (max-width: 576px) {
      position: relative;
      width: 100%;
      bottom: unset;
      display: flex;
      justify-content: center;
    }
  }
  &__node {
    position: relative;
    width: 27%;
    @media (max-width: 1024px) {
      width: 30%;
    }
    @media (max-width: 576px) {
      width: 47%;
    }
    &--upper {
      padding-bottom: 8rem;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 8rem;
        bottom: 0;
        background: $color-white;
        z-index: 1;
        @media (max-width:576px) {
          height: 4rem;
        }
        @media (max-width: 576px) {
          padding-bottom: 4rem;
        }
      }
    }
    &--lower {
      width: 100%;
      > div {
        filter: drop-shadow(0 0 40px rgba(225, 107, 240, 0.7));
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/asset/images/tree-node.png");
        background-position: center;
        position: relative;
        padding-bottom: 72.8%;
        img {
          position: absolute;
          width: 70%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform:  translate(-50%, -50%);
        }
      }
      @media (max-width: 576px) {
        width: 47%;
        padding-bottom: 4rem;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 4px;
          height: 4rem;
          top: 0;
          background: $color-white;
          z-index: 1;
        }
      }
    }
  }
  .node {
    filter: drop-shadow(0px 0px 40px rgba(255, 107, 240, 0.7));
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/asset/images/tree-node.png");
    background-position: center;
    position: relative;
    padding-bottom: 72.8%; 
    img {
      width: 100%;
      height: auto;
    }
    &__container {
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 1024px) {
        width: 55%; 
      }
    }
    &__text {
      font-family: "Skranji";
      font-weight: 400;
      font-size: 1.875rem;
      color: $color-white;
      margin-top: 13px;
      line-height: 25px;
      @media (max-width: 1024px) {
        font-size: 1.5625rem; 
      }
      @media (max-width: 768px) {
        font-size: 1.25rem; 
        } 
      @media (max-width: 576px) {
        margin-top: 3px;
        font-size: 0.9375rem; 
      }
      @media (max-width: 375px) {
        margin-top: 0;
        font-size: 0.9375rem; }
    }
  }
}